<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment>
    <DirectoryRef Id="TargetFolder">
      <Component Id="Id_AdminUI_AppManFoundation_dll_1020951901_WixComponent" Guid="DB153BB2-721C-4975-BBE5-F96B87C1CAE3" DiskId="1">
        <CreateFolder />
        <RemoveFolder Id="Id_Libs_1511780237_WixRemoveFolder" On="uninstall" />
        <RemoveFile Id="Id_Libs_620807343_WixRemoveFile" Name="*.*" On="uninstall" />
        <File Id="Id_AdminUI_AppManFoundation_dll_443905866_WixFile" Name="AdminUI.AppManFoundation.dll" KeyPath="yes" Source="C:\Dev\github-trondr\SccmTools\bin\Release\SccmTools\Libs\AdminUI.AppManFoundation.dll" />
      </Component>
      <Component Id="Id_AdminUI_DcmObjectWrapper_dll_906068138_WixComponent" Guid="FBDBCD14-72D1-40D1-ADA6-BADE021D3B81" DiskId="1">
        <CreateFolder />
        <RemoveFolder Id="Id_Libs_1552445383_WixRemoveFolder" On="uninstall" />
        <RemoveFile Id="Id_Libs_1834916281_WixRemoveFile" Name="*.*" On="uninstall" />
        <File Id="Id_AdminUI_DcmObjectWrapper_dll_1231713497_WixFile" Name="AdminUI.DcmObjectWrapper.dll" KeyPath="yes" Source="C:\Dev\github-trondr\SccmTools\bin\Release\SccmTools\Libs\AdminUI.DcmObjectWrapper.dll" />
      </Component>
      <Component Id="Id_AdminUI_WqlQueryEngine_dll_1347443737_WixComponent" Guid="EA5DDE0E-53B4-44E5-B1DE-F7627779AE96" DiskId="1">
        <CreateFolder />
        <RemoveFolder Id="Id_Libs_77932340_WixRemoveFolder" On="uninstall" />
        <RemoveFile Id="Id_Libs_1625403452_WixRemoveFile" Name="*.*" On="uninstall" />
        <File Id="Id_AdminUI_WqlQueryEngine_dll_779625522_WixFile" Name="AdminUI.WqlQueryEngine.dll" KeyPath="yes" Source="C:\Dev\github-trondr\SccmTools\bin\Release\SccmTools\Libs\AdminUI.WqlQueryEngine.dll" />
      </Component>
      <Component Id="Id_AutoMapper_dll_545120821_WixComponent" Guid="46004B4D-7C28-4558-BAB5-E73B75976B9E" DiskId="1">
        <CreateFolder />
        <RemoveFolder Id="Id_Libs_106134828_WixRemoveFolder" On="uninstall" />
        <RemoveFile Id="Id_Libs_1245447700_WixRemoveFile" Name="*.*" On="uninstall" />
        <File Id="Id_AutoMapper_dll_1595573696_WixFile" Name="AutoMapper.dll" KeyPath="yes" Source="C:\Dev\github-trondr\SccmTools\bin\Release\SccmTools\Libs\AutoMapper.dll" />
      </Component>
      <Component Id="Id_Castle_Core_dll_1396675314_WixComponent" Guid="36AA5199-1DD4-496A-AF94-A0E55FE15489" DiskId="1">
        <CreateFolder />
        <RemoveFolder Id="Id_Libs_762989325_WixRemoveFolder" On="uninstall" />
        <RemoveFile Id="Id_Libs_1693658686_WixRemoveFile" Name="*.*" On="uninstall" />
        <File Id="Id_Castle_Core_dll_1109331255_WixFile" Name="Castle.Core.dll" KeyPath="yes" Source="C:\Dev\github-trondr\SccmTools\bin\Release\SccmTools\Libs\Castle.Core.dll" />
      </Component>
      <Component Id="Id_Castle_Windsor_dll_388286282_WixComponent" Guid="4C05F730-D8C7-48BA-ADD0-574B22D8F118" DiskId="1">
        <CreateFolder />
        <RemoveFolder Id="Id_Libs_2113798631_WixRemoveFolder" On="uninstall" />
        <RemoveFile Id="Id_Libs_374291331_WixRemoveFile" Name="*.*" On="uninstall" />
        <File Id="Id_Castle_Windsor_dll_604739525_WixFile" Name="Castle.Windsor.dll" KeyPath="yes" Source="C:\Dev\github-trondr\SccmTools\bin\Release\SccmTools\Libs\Castle.Windsor.dll" />
      </Component>
      <Component Id="Id_Common_Logging_Core_dll_739566814_WixComponent" Guid="CB4B55D1-6357-4197-AAF1-495A08F48054" DiskId="1">
        <CreateFolder />
        <RemoveFolder Id="Id_Libs_1491554006_WixRemoveFolder" On="uninstall" />
        <RemoveFile Id="Id_Libs_2138219047_WixRemoveFile" Name="*.*" On="uninstall" />
        <File Id="Id_Common_Logging_Core_dll_36595567_WixFile" Name="Common.Logging.Core.dll" KeyPath="yes" Source="C:\Dev\github-trondr\SccmTools\bin\Release\SccmTools\Libs\Common.Logging.Core.dll" />
      </Component>
      <Component Id="Id_Common_Logging_dll_196342545_WixComponent" Guid="FB744214-E3F7-419D-94EA-951BE63A8B72" DiskId="1">
        <CreateFolder />
        <RemoveFolder Id="Id_Libs_1930927155_WixRemoveFolder" On="uninstall" />
        <RemoveFile Id="Id_Libs_2110951561_WixRemoveFile" Name="*.*" On="uninstall" />
        <File Id="Id_Common_Logging_dll_2145463531_WixFile" Name="Common.Logging.dll" KeyPath="yes" Source="C:\Dev\github-trondr\SccmTools\bin\Release\SccmTools\Libs\Common.Logging.dll" />
      </Component>
      <Component Id="Id_Common_Logging_Log4Net1213_dll_1423440741_WixComponent" Guid="F676286E-46BC-4A9A-834F-E9D96BE3A4F4" DiskId="1">
        <CreateFolder />
        <RemoveFolder Id="Id_Libs_2027337118_WixRemoveFolder" On="uninstall" />
        <RemoveFile Id="Id_Libs_1886843796_WixRemoveFile" Name="*.*" On="uninstall" />
        <File Id="Id_Common_Logging_Log4Net1213_dll_307796437_WixFile" Name="Common.Logging.Log4Net1213.dll" KeyPath="yes" Source="C:\Dev\github-trondr\SccmTools\bin\Release\SccmTools\Libs\Common.Logging.Log4Net1213.dll" />
      </Component>
      <Component Id="Id_DcmObjectModel_dll_1377911781_WixComponent" Guid="0059366F-1896-464A-B431-C20087C3FD71" DiskId="1">
        <CreateFolder />
        <RemoveFolder Id="Id_Libs_1155157883_WixRemoveFolder" On="uninstall" />
        <RemoveFile Id="Id_Libs_1504936661_WixRemoveFile" Name="*.*" On="uninstall" />
        <File Id="Id_DcmObjectModel_dll_528485624_WixFile" Name="DcmObjectModel.dll" KeyPath="yes" Source="C:\Dev\github-trondr\SccmTools\bin\Release\SccmTools\Libs\DcmObjectModel.dll" />
      </Component>
      <Component Id="Id_INIFileParser_dll_827668046_WixComponent" Guid="0B750AC0-F84F-4B75-9F43-6F988AA5F599" DiskId="1">
        <CreateFolder />
        <RemoveFolder Id="Id_Libs_829426572_WixRemoveFolder" On="uninstall" />
        <RemoveFile Id="Id_Libs_1602882272_WixRemoveFile" Name="*.*" On="uninstall" />
        <File Id="Id_INIFileParser_dll_215271364_WixFile" Name="INIFileParser.dll" KeyPath="yes" Source="C:\Dev\github-trondr\SccmTools\bin\Release\SccmTools\Libs\INIFileParser.dll" />
      </Component>
      <Component Id="Id_LanguageExt_Core_dll_67654760_WixComponent" Guid="4E409B9E-063F-4D25-8A24-9993D6C2465F" DiskId="1">
        <CreateFolder />
        <RemoveFolder Id="Id_Libs_1040843709_WixRemoveFolder" On="uninstall" />
        <RemoveFile Id="Id_Libs_1877812149_WixRemoveFile" Name="*.*" On="uninstall" />
        <File Id="Id_LanguageExt_Core_dll_1458460482_WixFile" Name="LanguageExt.Core.dll" KeyPath="yes" Source="C:\Dev\github-trondr\SccmTools\bin\Release\SccmTools\Libs\LanguageExt.Core.dll" />
      </Component>
      <Component Id="Id_log4net_dll_1646978998_WixComponent" Guid="90735F2A-D615-4C97-984C-3B5626D522E6" DiskId="1">
        <CreateFolder />
        <RemoveFolder Id="Id_Libs_1139295228_WixRemoveFolder" On="uninstall" />
        <RemoveFile Id="Id_Libs_1013749459_WixRemoveFile" Name="*.*" On="uninstall" />
        <File Id="Id_log4net_dll_1875531165_WixFile" Name="log4net.dll" KeyPath="yes" Source="C:\Dev\github-trondr\SccmTools\bin\Release\SccmTools\Libs\log4net.dll" />
      </Component>
      <Component Id="Id_Microsoft_ConfigurationManagement_Applic_659100343_WixComponent" Guid="B8FB9107-0D7E-4A61-843B-8CEF99BA5583" DiskId="1">
        <CreateFolder />
        <RemoveFolder Id="Id_Libs_813181597_WixRemoveFolder" On="uninstall" />
        <RemoveFile Id="Id_Libs_1745533019_WixRemoveFile" Name="*.*" On="uninstall" />
        <File Id="Id_Microsoft_ConfigurationManagement_Applic_1054636917_WixFile" Name="Microsoft.ConfigurationManagement.ApplicationManagement.dll" KeyPath="yes" Source="C:\Dev\github-trondr\SccmTools\bin\Release\SccmTools\Libs\Microsoft.ConfigurationManagement.ApplicationManagement.dll" />
      </Component>
      <Component Id="Id_Microsoft_ConfigurationManagement_Applic_1137488906_WixComponent" Guid="BD19A86F-708A-4BB0-BDB0-658409FE4442" DiskId="1">
        <CreateFolder />
        <RemoveFolder Id="Id_Libs_16067817_WixRemoveFolder" On="uninstall" />
        <RemoveFile Id="Id_Libs_1851822699_WixRemoveFile" Name="*.*" On="uninstall" />
        <File Id="Id_Microsoft_ConfigurationManagement_Applic_1561997779_WixFile" Name="Microsoft.ConfigurationManagement.ApplicationManagement.MsiInstaller.dll" KeyPath="yes" Source="C:\Dev\github-trondr\SccmTools\bin\Release\SccmTools\Libs\Microsoft.ConfigurationManagement.ApplicationManagement.MsiInstaller.dll" />
      </Component>
      <Component Id="Id_Microsoft_ConfigurationManagement_Manage_1561709983_WixComponent" Guid="F58494ED-C2B4-40F6-A6A6-84B8B714003F" DiskId="1">
        <CreateFolder />
        <RemoveFolder Id="Id_Libs_1798320714_WixRemoveFolder" On="uninstall" />
        <RemoveFile Id="Id_Libs_1035370952_WixRemoveFile" Name="*.*" On="uninstall" />
        <File Id="Id_Microsoft_ConfigurationManagement_Manage_1564000229_WixFile" Name="Microsoft.ConfigurationManagement.ManagementProvider.dll" KeyPath="yes" Source="C:\Dev\github-trondr\SccmTools\bin\Release\SccmTools\Libs\Microsoft.ConfigurationManagement.ManagementProvider.dll" />
      </Component>
      <Component Id="Id_Microsoft_Deployment_WindowsInstaller_dl_114464426_WixComponent" Guid="B2DA6521-9DF7-482C-8A93-99CBE9E274B8" DiskId="1">
        <CreateFolder />
        <RemoveFolder Id="Id_Libs_1627423568_WixRemoveFolder" On="uninstall" />
        <RemoveFile Id="Id_Libs_1503668428_WixRemoveFile" Name="*.*" On="uninstall" />
        <File Id="Id_Microsoft_Deployment_WindowsInstaller_dl_665267350_WixFile" Name="Microsoft.Deployment.WindowsInstaller.dll" KeyPath="yes" Source="C:\Dev\github-trondr\SccmTools\bin\Release\SccmTools\Libs\Microsoft.Deployment.WindowsInstaller.dll" />
      </Component>
      <Component Id="Id_NCmdLiner_dll_366774679_WixComponent" Guid="56A50088-DB65-4FAB-9174-38D3135B1ACC" DiskId="1">
        <CreateFolder />
        <RemoveFolder Id="Id_Libs_937651263_WixRemoveFolder" On="uninstall" />
        <RemoveFile Id="Id_Libs_217661915_WixRemoveFile" Name="*.*" On="uninstall" />
        <File Id="Id_NCmdLiner_dll_241517431_WixFile" Name="NCmdLiner.dll" KeyPath="yes" Source="C:\Dev\github-trondr\SccmTools\bin\Release\SccmTools\Libs\NCmdLiner.dll" />
      </Component>
      <Component Id="Id_Newtonsoft_Json_dll_1405536311_WixComponent" Guid="948021DE-D026-4A7D-9DEC-BA4B4A11CD8E" DiskId="1">
        <CreateFolder />
        <RemoveFolder Id="Id_Libs_1165173062_WixRemoveFolder" On="uninstall" />
        <RemoveFile Id="Id_Libs_281663209_WixRemoveFile" Name="*.*" On="uninstall" />
        <File Id="Id_Newtonsoft_Json_dll_1706343357_WixFile" Name="Newtonsoft.Json.dll" KeyPath="yes" Source="C:\Dev\github-trondr\SccmTools\bin\Release\SccmTools\Libs\Newtonsoft.Json.dll" />
      </Component>
      <Component Id="Id_System_Reactive_Core_dll_510916359_WixComponent" Guid="D01FA77A-73B0-4F54-B92C-A544B18A08B1" DiskId="1">
        <CreateFolder />
        <RemoveFolder Id="Id_Libs_159019967_WixRemoveFolder" On="uninstall" />
        <RemoveFile Id="Id_Libs_537084765_WixRemoveFile" Name="*.*" On="uninstall" />
        <File Id="Id_System_Reactive_Core_dll_1846206752_WixFile" Name="System.Reactive.Core.dll" KeyPath="yes" Source="C:\Dev\github-trondr\SccmTools\bin\Release\SccmTools\Libs\System.Reactive.Core.dll" />
      </Component>
      <Component Id="Id_System_Reactive_Interfaces_dll_1761225504_WixComponent" Guid="C4206AAA-CD93-4EAB-8C73-F8B71F19C8B6" DiskId="1">
        <CreateFolder />
        <RemoveFolder Id="Id_Libs_679758565_WixRemoveFolder" On="uninstall" />
        <RemoveFile Id="Id_Libs_537100216_WixRemoveFile" Name="*.*" On="uninstall" />
        <File Id="Id_System_Reactive_Interfaces_dll_1204530964_WixFile" Name="System.Reactive.Interfaces.dll" KeyPath="yes" Source="C:\Dev\github-trondr\SccmTools\bin\Release\SccmTools\Libs\System.Reactive.Interfaces.dll" />
      </Component>
      <Component Id="Id_System_Reactive_Linq_dll_917177696_WixComponent" Guid="7EF9039E-6DD4-4E36-9942-2CFE91D486F2" DiskId="1">
        <CreateFolder />
        <RemoveFolder Id="Id_Libs_235420396_WixRemoveFolder" On="uninstall" />
        <RemoveFile Id="Id_Libs_1486363188_WixRemoveFile" Name="*.*" On="uninstall" />
        <File Id="Id_System_Reactive_Linq_dll_610259144_WixFile" Name="System.Reactive.Linq.dll" KeyPath="yes" Source="C:\Dev\github-trondr\SccmTools\bin\Release\SccmTools\Libs\System.Reactive.Linq.dll" />
      </Component>
      <Component Id="Id_System_Reactive_PlatformServices_dll_281804099_WixComponent" Guid="9E360936-1C76-47DD-9283-E82CB43A07FE" DiskId="1">
        <CreateFolder />
        <RemoveFolder Id="Id_Libs_832206879_WixRemoveFolder" On="uninstall" />
        <RemoveFile Id="Id_Libs_1317791178_WixRemoveFile" Name="*.*" On="uninstall" />
        <File Id="Id_System_Reactive_PlatformServices_dll_1361843963_WixFile" Name="System.Reactive.PlatformServices.dll" KeyPath="yes" Source="C:\Dev\github-trondr\SccmTools\bin\Release\SccmTools\Libs\System.Reactive.PlatformServices.dll" />
      </Component>
      <Component Id="Id_System_Reactive_Windows_Threading_dll_1450818831_WixComponent" Guid="76F3787C-474B-41C4-941E-804AFB85E821" DiskId="1">
        <CreateFolder />
        <RemoveFolder Id="Id_Libs_2090422529_WixRemoveFolder" On="uninstall" />
        <RemoveFile Id="Id_Libs_1114259288_WixRemoveFile" Name="*.*" On="uninstall" />
        <File Id="Id_System_Reactive_Windows_Threading_dll_1176830979_WixFile" Name="System.Reactive.Windows.Threading.dll" KeyPath="yes" Source="C:\Dev\github-trondr\SccmTools\bin\Release\SccmTools\Libs\System.Reactive.Windows.Threading.dll" />
      </Component>
      <Component Id="Id_System_ValueTuple_dll_1941539267_WixComponent" Guid="F679EA54-0AC9-43E6-881C-6DF1F4FF64D1" DiskId="1">
        <CreateFolder />
        <RemoveFolder Id="Id_Libs_38882043_WixRemoveFolder" On="uninstall" />
        <RemoveFile Id="Id_Libs_100806938_WixRemoveFile" Name="*.*" On="uninstall" />
        <File Id="Id_System_ValueTuple_dll_587714839_WixFile" Name="System.ValueTuple.dll" KeyPath="yes" Source="C:\Dev\github-trondr\SccmTools\bin\Release\SccmTools\Libs\System.ValueTuple.dll" />
      </Component>
      <Directory Id="Id_NMultiTool_1684658928_WixDirectory" Name="NMultiTool">
        <Component Id="Id_Castle_Core_dll_1212544799_WixComponent" Guid="B5697665-8195-4436-8391-013F93D9660F" DiskId="1">
          <CreateFolder />
          <RemoveFolder Id="Id_NMultiTool_1091685803_WixRemoveFolder" On="uninstall" />
          <RemoveFile Id="Id_NMultiTool_709327735_WixRemoveFile" Name="*.*" On="uninstall" />
          <File Id="Id_Castle_Core_dll_921633313_WixFile" Name="Castle.Core.dll" KeyPath="yes" Source="C:\Dev\github-trondr\SccmTools\bin\Release\SccmTools\Libs\NMultiTool\Castle.Core.dll" />
        </Component>
        <Component Id="Id_Castle_Windsor_dll_772232028_WixComponent" Guid="BCA35726-E101-4023-AE81-2E2DB0D470F2" DiskId="1">
          <CreateFolder />
          <RemoveFolder Id="Id_NMultiTool_469994854_WixRemoveFolder" On="uninstall" />
          <RemoveFile Id="Id_NMultiTool_1641410928_WixRemoveFile" Name="*.*" On="uninstall" />
          <File Id="Id_Castle_Windsor_dll_531518388_WixFile" Name="Castle.Windsor.dll" KeyPath="yes" Source="C:\Dev\github-trondr\SccmTools\bin\Release\SccmTools\Libs\NMultiTool\Castle.Windsor.dll" />
        </Component>
        <Component Id="Id_Common_Logging_Core_dll_39189662_WixComponent" Guid="3764F346-321C-414E-91B8-2C5BB6489F03" DiskId="1">
          <CreateFolder />
          <RemoveFolder Id="Id_NMultiTool_543720558_WixRemoveFolder" On="uninstall" />
          <RemoveFile Id="Id_NMultiTool_978468939_WixRemoveFile" Name="*.*" On="uninstall" />
          <File Id="Id_Common_Logging_Core_dll_1626466700_WixFile" Name="Common.Logging.Core.dll" KeyPath="yes" Source="C:\Dev\github-trondr\SccmTools\bin\Release\SccmTools\Libs\NMultiTool\Common.Logging.Core.dll" />
        </Component>
        <Component Id="Id_Common_Logging_dll_5615947_WixComponent" Guid="07DACD17-3C5C-43EF-93F1-BC3F55B352F9" DiskId="1">
          <CreateFolder />
          <RemoveFolder Id="Id_NMultiTool_1948255922_WixRemoveFolder" On="uninstall" />
          <RemoveFile Id="Id_NMultiTool_881951418_WixRemoveFile" Name="*.*" On="uninstall" />
          <File Id="Id_Common_Logging_dll_1261220498_WixFile" Name="Common.Logging.dll" KeyPath="yes" Source="C:\Dev\github-trondr\SccmTools\bin\Release\SccmTools\Libs\NMultiTool\Common.Logging.dll" />
        </Component>
        <Component Id="Id_Common_Logging_Log4Net1213_dll_1978323635_WixComponent" Guid="F2DDDB4C-AD76-4C06-BE2C-1FE4A2755999" DiskId="1">
          <CreateFolder />
          <RemoveFolder Id="Id_NMultiTool_646822533_WixRemoveFolder" On="uninstall" />
          <RemoveFile Id="Id_NMultiTool_2026527677_WixRemoveFile" Name="*.*" On="uninstall" />
          <File Id="Id_Common_Logging_Log4Net1213_dll_141060380_WixFile" Name="Common.Logging.Log4Net1213.dll" KeyPath="yes" Source="C:\Dev\github-trondr\SccmTools\bin\Release\SccmTools\Libs\NMultiTool\Common.Logging.Log4Net1213.dll" />
        </Component>
        <Component Id="Id_log4net_dll_893409284_WixComponent" Guid="616880BA-1CA2-4C7E-B20A-4E53863EE00D" DiskId="1">
          <CreateFolder />
          <RemoveFolder Id="Id_NMultiTool_383463251_WixRemoveFolder" On="uninstall" />
          <RemoveFile Id="Id_NMultiTool_1682051447_WixRemoveFile" Name="*.*" On="uninstall" />
          <File Id="Id_log4net_dll_1767343732_WixFile" Name="log4net.dll" KeyPath="yes" Source="C:\Dev\github-trondr\SccmTools\bin\Release\SccmTools\Libs\NMultiTool\log4net.dll" />
        </Component>
        <Component Id="Id_Microsoft_Web_XmlTransform_dll_1003301599_WixComponent" Guid="38A6EC63-DD62-484D-BC12-28D7BB6084AA" DiskId="1">
          <CreateFolder />
          <RemoveFolder Id="Id_NMultiTool_938182247_WixRemoveFolder" On="uninstall" />
          <RemoveFile Id="Id_NMultiTool_1462597429_WixRemoveFile" Name="*.*" On="uninstall" />
          <File Id="Id_Microsoft_Web_XmlTransform_dll_50913774_WixFile" Name="Microsoft.Web.XmlTransform.dll" KeyPath="yes" Source="C:\Dev\github-trondr\SccmTools\bin\Release\SccmTools\Libs\NMultiTool\Microsoft.Web.XmlTransform.dll" />
        </Component>
        <Component Id="Id_NCmdLiner_dll_1252315877_WixComponent" Guid="14830B0F-96F8-4A20-B707-C829A86074C9" DiskId="1">
          <CreateFolder />
          <RemoveFolder Id="Id_NMultiTool_1912287737_WixRemoveFolder" On="uninstall" />
          <RemoveFile Id="Id_NMultiTool_472034316_WixRemoveFile" Name="*.*" On="uninstall" />
          <File Id="Id_NCmdLiner_dll_58213029_WixFile" Name="NCmdLiner.dll" KeyPath="yes" Source="C:\Dev\github-trondr\SccmTools\bin\Release\SccmTools\Libs\NMultiTool\NCmdLiner.dll" />
        </Component>
        <Component Id="Id_Newtonsoft_Json_dll_2096853573_WixComponent" Guid="DB02093F-4CC6-4DAA-9A1B-6068DDFD317A" DiskId="1">
          <CreateFolder />
          <RemoveFolder Id="Id_NMultiTool_161547824_WixRemoveFolder" On="uninstall" />
          <RemoveFile Id="Id_NMultiTool_548680705_WixRemoveFile" Name="*.*" On="uninstall" />
          <File Id="Id_Newtonsoft_Json_dll_1735556409_WixFile" Name="Newtonsoft.Json.dll" KeyPath="yes" Source="C:\Dev\github-trondr\SccmTools\bin\Release\SccmTools\Libs\NMultiTool\Newtonsoft.Json.dll" />
        </Component>
        <Component Id="Id_NMultiTool_exe_1975256128_WixComponent" Guid="D60FFE42-D12C-468D-A7DF-7BCB2BC92C94" DiskId="1">
          <CreateFolder />
          <RemoveFolder Id="Id_NMultiTool_282897651_WixRemoveFolder" On="uninstall" />
          <RemoveFile Id="Id_NMultiTool_144945668_WixRemoveFile" Name="*.*" On="uninstall" />
          <File Id="Id_NMultiTool_exe_1912909189_WixFile" Name="NMultiTool.exe" KeyPath="yes" Source="C:\Dev\github-trondr\SccmTools\bin\Release\SccmTools\Libs\NMultiTool\NMultiTool.exe" />
        </Component>
        <Component Id="Id_NMultiTool_exe_config_1992435907_WixComponent" Guid="EB2AF151-AD3C-4FB9-94C7-D687BB5CA58C" DiskId="1">
          <CreateFolder />
          <RemoveFolder Id="Id_NMultiTool_78740756_WixRemoveFolder" On="uninstall" />
          <RemoveFile Id="Id_NMultiTool_242614437_WixRemoveFile" Name="*.*" On="uninstall" />
          <File Id="Id_NMultiTool_exe_config_288486321_WixFile" Name="NMultiTool.exe.config" KeyPath="yes" Source="C:\Dev\github-trondr\SccmTools\bin\Release\SccmTools\Libs\NMultiTool\NMultiTool.exe.config" />
        </Component>
        <Component Id="Id_NMultiTool_Gui_exe_339322239_WixComponent" Guid="5C130DE4-EE07-4C05-9D4E-ED4A47C13D1D" DiskId="1">
          <CreateFolder />
          <RemoveFolder Id="Id_NMultiTool_1882860910_WixRemoveFolder" On="uninstall" />
          <RemoveFile Id="Id_NMultiTool_1445202884_WixRemoveFile" Name="*.*" On="uninstall" />
          <File Id="Id_NMultiTool_Gui_exe_142166607_WixFile" Name="NMultiTool.Gui.exe" KeyPath="yes" Source="C:\Dev\github-trondr\SccmTools\bin\Release\SccmTools\Libs\NMultiTool\NMultiTool.Gui.exe" />
        </Component>
        <Component Id="Id_NMultiTool_Gui_exe_config_232307870_WixComponent" Guid="74DE2B11-BEDC-46FF-8304-B8BD14A97511" DiskId="1">
          <CreateFolder />
          <RemoveFolder Id="Id_NMultiTool_2063094128_WixRemoveFolder" On="uninstall" />
          <RemoveFile Id="Id_NMultiTool_2110699279_WixRemoveFile" Name="*.*" On="uninstall" />
          <File Id="Id_NMultiTool_Gui_exe_config_1539543157_WixFile" Name="NMultiTool.Gui.exe.config" KeyPath="yes" Source="C:\Dev\github-trondr\SccmTools\bin\Release\SccmTools\Libs\NMultiTool\NMultiTool.Gui.exe.config" />
        </Component>
        <Component Id="Id_NMultiTool_Gui_pdb_221762908_WixComponent" Guid="58AC26A9-4773-4BBE-89D7-BCBF9FBB9DA6" DiskId="1">
          <CreateFolder />
          <RemoveFolder Id="Id_NMultiTool_446654459_WixRemoveFolder" On="uninstall" />
          <RemoveFile Id="Id_NMultiTool_791249644_WixRemoveFile" Name="*.*" On="uninstall" />
          <File Id="Id_NMultiTool_Gui_pdb_829081548_WixFile" Name="NMultiTool.Gui.pdb" KeyPath="yes" Source="C:\Dev\github-trondr\SccmTools\bin\Release\SccmTools\Libs\NMultiTool\NMultiTool.Gui.pdb" />
        </Component>
        <Component Id="Id_NMultiTool_Library_dll_1557118003_WixComponent" Guid="D5EC71F2-127B-4F78-BB5B-95BD0D355BF9" DiskId="1">
          <CreateFolder />
          <RemoveFolder Id="Id_NMultiTool_1089467650_WixRemoveFolder" On="uninstall" />
          <RemoveFile Id="Id_NMultiTool_2065815361_WixRemoveFile" Name="*.*" On="uninstall" />
          <File Id="Id_NMultiTool_Library_dll_1981533428_WixFile" Name="NMultiTool.Library.dll" KeyPath="yes" Source="C:\Dev\github-trondr\SccmTools\bin\Release\SccmTools\Libs\NMultiTool\NMultiTool.Library.dll" />
        </Component>
        <Component Id="Id_NMultiTool_Library_pdb_1154881072_WixComponent" Guid="27112C09-2DAF-435E-9C5E-B3DE464C38B1" DiskId="1">
          <CreateFolder />
          <RemoveFolder Id="Id_NMultiTool_1590497154_WixRemoveFolder" On="uninstall" />
          <RemoveFile Id="Id_NMultiTool_1426686158_WixRemoveFile" Name="*.*" On="uninstall" />
          <File Id="Id_NMultiTool_Library_pdb_274385572_WixFile" Name="NMultiTool.Library.pdb" KeyPath="yes" Source="C:\Dev\github-trondr\SccmTools\bin\Release\SccmTools\Libs\NMultiTool\NMultiTool.Library.pdb" />
        </Component>
        <Component Id="Id_NMultiTool_pdb_71686242_WixComponent" Guid="5315A141-C623-4B31-A185-4DC455FD77C4" DiskId="1">
          <CreateFolder />
          <RemoveFolder Id="Id_NMultiTool_920255910_WixRemoveFolder" On="uninstall" />
          <RemoveFile Id="Id_NMultiTool_1677096774_WixRemoveFile" Name="*.*" On="uninstall" />
          <File Id="Id_NMultiTool_pdb_1991551770_WixFile" Name="NMultiTool.pdb" KeyPath="yes" Source="C:\Dev\github-trondr\SccmTools\bin\Release\SccmTools\Libs\NMultiTool\NMultiTool.pdb" />
        </Component>
        <Component Id="Id_NuGet_Core_dll_1399575217_WixComponent" Guid="96E3DED7-9B87-4C6D-8914-AB2D35FEC8FB" DiskId="1">
          <CreateFolder />
          <RemoveFolder Id="Id_NMultiTool_1293878656_WixRemoveFolder" On="uninstall" />
          <RemoveFile Id="Id_NMultiTool_1433448017_WixRemoveFile" Name="*.*" On="uninstall" />
          <File Id="Id_NuGet_Core_dll_1695425984_WixFile" Name="NuGet.Core.dll" KeyPath="yes" Source="C:\Dev\github-trondr\SccmTools\bin\Release\SccmTools\Libs\NMultiTool\NuGet.Core.dll" />
        </Component>
      </Directory>
    </DirectoryRef>
  </Fragment>
  <Fragment>
    <ComponentGroup Id="Components_WiXComponentGroup">
      <ComponentRef Id="Id_AdminUI_AppManFoundation_dll_1020951901_WixComponent" />
      <ComponentRef Id="Id_AdminUI_DcmObjectWrapper_dll_906068138_WixComponent" />
      <ComponentRef Id="Id_AdminUI_WqlQueryEngine_dll_1347443737_WixComponent" />
      <ComponentRef Id="Id_AutoMapper_dll_545120821_WixComponent" />
      <ComponentRef Id="Id_Castle_Core_dll_1396675314_WixComponent" />
      <ComponentRef Id="Id_Castle_Windsor_dll_388286282_WixComponent" />
      <ComponentRef Id="Id_Common_Logging_Core_dll_739566814_WixComponent" />
      <ComponentRef Id="Id_Common_Logging_dll_196342545_WixComponent" />
      <ComponentRef Id="Id_Common_Logging_Log4Net1213_dll_1423440741_WixComponent" />
      <ComponentRef Id="Id_DcmObjectModel_dll_1377911781_WixComponent" />
      <ComponentRef Id="Id_INIFileParser_dll_827668046_WixComponent" />
      <ComponentRef Id="Id_LanguageExt_Core_dll_67654760_WixComponent" />
      <ComponentRef Id="Id_log4net_dll_1646978998_WixComponent" />
      <ComponentRef Id="Id_Microsoft_ConfigurationManagement_Applic_659100343_WixComponent" />
      <ComponentRef Id="Id_Microsoft_ConfigurationManagement_Applic_1137488906_WixComponent" />
      <ComponentRef Id="Id_Microsoft_ConfigurationManagement_Manage_1561709983_WixComponent" />
      <ComponentRef Id="Id_Microsoft_Deployment_WindowsInstaller_dl_114464426_WixComponent" />
      <ComponentRef Id="Id_NCmdLiner_dll_366774679_WixComponent" />
      <ComponentRef Id="Id_Newtonsoft_Json_dll_1405536311_WixComponent" />
      <ComponentRef Id="Id_System_Reactive_Core_dll_510916359_WixComponent" />
      <ComponentRef Id="Id_System_Reactive_Interfaces_dll_1761225504_WixComponent" />
      <ComponentRef Id="Id_System_Reactive_Linq_dll_917177696_WixComponent" />
      <ComponentRef Id="Id_System_Reactive_PlatformServices_dll_281804099_WixComponent" />
      <ComponentRef Id="Id_System_Reactive_Windows_Threading_dll_1450818831_WixComponent" />
      <ComponentRef Id="Id_System_ValueTuple_dll_1941539267_WixComponent" />
      <ComponentRef Id="Id_Castle_Core_dll_1212544799_WixComponent" />
      <ComponentRef Id="Id_Castle_Windsor_dll_772232028_WixComponent" />
      <ComponentRef Id="Id_Common_Logging_Core_dll_39189662_WixComponent" />
      <ComponentRef Id="Id_Common_Logging_dll_5615947_WixComponent" />
      <ComponentRef Id="Id_Common_Logging_Log4Net1213_dll_1978323635_WixComponent" />
      <ComponentRef Id="Id_log4net_dll_893409284_WixComponent" />
      <ComponentRef Id="Id_Microsoft_Web_XmlTransform_dll_1003301599_WixComponent" />
      <ComponentRef Id="Id_NCmdLiner_dll_1252315877_WixComponent" />
      <ComponentRef Id="Id_Newtonsoft_Json_dll_2096853573_WixComponent" />
      <ComponentRef Id="Id_NMultiTool_exe_1975256128_WixComponent" />
      <ComponentRef Id="Id_NMultiTool_exe_config_1992435907_WixComponent" />
      <ComponentRef Id="Id_NMultiTool_Gui_exe_339322239_WixComponent" />
      <ComponentRef Id="Id_NMultiTool_Gui_exe_config_232307870_WixComponent" />
      <ComponentRef Id="Id_NMultiTool_Gui_pdb_221762908_WixComponent" />
      <ComponentRef Id="Id_NMultiTool_Library_dll_1557118003_WixComponent" />
      <ComponentRef Id="Id_NMultiTool_Library_pdb_1154881072_WixComponent" />
      <ComponentRef Id="Id_NMultiTool_pdb_71686242_WixComponent" />
      <ComponentRef Id="Id_NuGet_Core_dll_1399575217_WixComponent" />
    </ComponentGroup>
  </Fragment>
</Wix>