<?xml version="1.0" encoding="UTF-8"?>

<?define ProductName="SccmTools" ?>
<?define ProductFeature="SccmTools" ?>
<?define ProductProjectName="SccmTools" ?>
<?define PackageDescription="SccmTools provides various commands for Sccm 2012 interaction" ?>
<?define ProductUpgradeCode="{17257f0b-5366-472b-a65b-3206fddbcbfe}" ?>
<?define PackageKeywords="SccmTools" ?>
<?define CompanyName="github.com.trondr" ?>
<?define ProductExeBaseName="SccmTools" ?>
<?define ProductLibraryBaseName="SccmTools.Library" ?>
<?define ProductExeReleaseFolder="..\..\bin\release\SccmTools" ?>
<?define ProductLibraryReleaseFolder="..\..\bin\release\SccmTools.Library" ?>
<?define ProductHelpLink="https://github.com/trondr.com"?>
<?define TargetFolderName="SccmTools"?>

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product
      Id="*"
      UpgradeCode="$(var.ProductUpgradeCode)"
      Name="$(var.ProductName)"
      Language="!(loc.LanguageCode)"
      Version="!(bind.FileVersion.ProductDll)"
      Manufacturer="$(var.CompanyName)"
      >

    <Package 
      Id="*" 
      InstallerVersion="200"
      InstallPrivileges="elevated"
      InstallScope="perMachine"
      Compressed="yes" 
      Platform="x86"
      Description="$(var.PackageDescription)"
      Keywords="$(var.PackageKeywords)"
      Languages="!(loc.LanguageCode)"
      SummaryCodepage="1252"
      Manufacturer="$(var.CompanyName)"      
      />

    <Icon Id="Product_Icon" SourceFile="$(var.ProductExeReleaseFolder)\$(var.ProductExeBaseName).exe"/>
    <Property Id="ARPPRODUCTICON"  Value="Product_Icon"/>
    <Property Id="ARPHELPLINK" Value="$(var.ProductHelpLink)" />
    <Property Id="ARPCOMMENTS">$(var.PackageDescription)</Property>
    <Property Id="ARPCONTACT">$(var.CompanyName)</Property>

    <PropertyRef Id ="NETFRAMEWORK45"/>
    
    <Condition Message="!(loc.DotNetFrameWorkConditionMessage)">Installed OR NETFRAMEWORK45</Condition>

    <Upgrade Id="$(var.ProductUpgradeCode)">
      <UpgradeVersion Property="SELFFOUND" OnlyDetect="yes"  Minimum="!(bind.FileVersion.ProductDll)" IncludeMinimum='yes'  Maximum="!(bind.FileVersion.ProductDll)" IncludeMaximum='yes' />
      <UpgradeVersion Property="NEWERFOUND" OnlyDetect="yes" Minimum="!(bind.FileVersion.ProductDll)" IncludeMinimum="no" />
      <UpgradeVersion Property="OLDERFOUND" OnlyDetect="no"  Minimum="1.0.0.0" IncludeMinimum="yes" Maximum="!(bind.FileVersion.ProductDll)" IncludeMaximum="no" />
    </Upgrade>

    <CustomAction Id="NoDowngrade" Error="A later version of $(var.ProductName) is already installed." />
    <CustomAction Id="NoSelf" Error="Same version of $(var.ProductName) is already installed." />
    <CustomAction Id="Install_Assemblies_CustomAction"             Directory="TargetFolder" Return="check" Execute="deferred" Impersonate="no" ExeCommand="&quot;[TargetFolder]\NMultiTool\NMultiTool.exe&quot; InstallUtil /installAction=Install /directory=&quot;[TargetFolder].&quot; /includeFileSpecs=&quot;{'SccmTools.exe'}&quot; /excludeFileSpecs=&quot;{'excludeNothing'}&quot;" />
    <CustomAction Id="Install_Assemblies_AfterCommit_CustomAction" Directory="TargetFolder" Return="check" Execute="commit"   Impersonate="no" ExeCommand="&quot;[TargetFolder]\NMultiTool\NMultiTool.exe&quot; InstallUtil /installAction=Install /directory=&quot;[TargetFolder].&quot; /includeFileSpecs=&quot;{'SccmTools.exe'}&quot; /excludeFileSpecs=&quot;{'excludeNothing'}&quot;" />
    <CustomAction Id="UnInstall_Assemblies_CustomAction"           Directory="TargetFolder" Return="check" Execute="deferred" Impersonate="no" ExeCommand="&quot;[TargetFolder]\NMultiTool\NMultiTool.exe&quot; InstallUtil /installAction=UnInstall /directory=&quot;[TargetFolder].&quot; /includeFileSpecs=&quot;{'SccmTools.exe'}&quot; /excludeFileSpecs=&quot;{'excludeNothing'}&quot;" />

    <InstallExecuteSequence>
      <Custom Action="NoDowngrade" After="FindRelatedProducts"><![CDATA[NEWERFOUND]]></Custom>
      <Custom Action="NoSelf" After="FindRelatedProducts"><![CDATA[SELFFOUND]]></Custom>
      <Custom Action="Install_Assemblies_CustomAction" After="InstallFiles">($ProductExe_WiXComponent&gt;2)</Custom>
      <Custom Action="Install_Assemblies_AfterCommit_CustomAction" After="InstallFiles">($ProductExe_WiXComponent&gt;2)</Custom>
      <Custom Action="UnInstall_Assemblies_CustomAction" After="UnpublishFeatures">($ProductExe_WiXComponent=2)</Custom>
      <RemoveExistingProducts After="InstallInitialize"/>
      <LaunchConditions After="AppSearch"/>
    </InstallExecuteSequence>

    <Media Id="1" Cabinet="$(var.ProductProjectName)" EmbedCab="yes" CompressionLevel="high"/>
    
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="CompanyFolder" Name="$(var.CompanyName)">
          <Directory Id="TargetBaseFolder" Name="$(var.TargetFolderName)">
            <Directory Id="TargetFolder" Name="!(bind.FileVersion.ProductDll)" ></Directory>
          </Directory>
        </Directory>
      </Directory>      
    </Directory>
    
    <Feature Id="ProductFeature" Title="$(var.ProductFeature)" Level="1">
      <ComponentGroupRef Id="ProductComponents_WiXComponentGroup" />
      <ComponentGroupRef Id="Components_WiXComponentGroup" />
    </Feature>

    <WixVariable Id="WixUIBannerBmp" Value="WixUIBanner.bmp"/>
    <WixVariable Id="WixUIDialogBmp" Value="WiXUiDialog.bmp"/>
    <WixVariable Id="WixUILicenseRtf" Value="License.rtf"/>
    <UIRef Id="WixUI_Mondo"/>
    
  </Product>

	<Fragment>
		<ComponentGroup Id="ProductComponents_WiXComponentGroup" Directory="TargetFolder">			
			 <Component Id="ProductExe_WiXComponent" Guid="*">
         <CreateFolder/>
         
         <RemoveFolder Id="TargetFolder_WixRemoveFolder" On="uninstall" Directory="TargetFolder"/>
         <RemoveFolder Id="TargetBaseFolder_WixRemoveFolder" On="uninstall" Directory="TargetBaseFolder"/>
         <RemoveFolder Id="CompanyFolder_WixRemoveFolder" On="uninstall" Directory="CompanyFolder"/>
         <RemoveFile Id="TargetFolderFiles_WixRemoveFile" Name="*.*" On="uninstall" Directory="TargetFolder" />

         <File Id="ProductExe" Name="$(var.ProductExeBaseName).exe" Source="$(var.ProductExeReleaseFolder)\$(var.ProductExeBaseName).exe" KeyPath="yes" />
         <File Id="ProductExePdb" Name="$(var.ProductExeBaseName).pdb" Source="$(var.ProductExeReleaseFolder)\$(var.ProductExeBaseName).pdb" KeyPath="no"/>
         <File Id="ProductExeConfig" Name="$(var.ProductExeBaseName).exe.config" Source="$(var.ProductExeReleaseFolder)\$(var.ProductExeBaseName).exe.config" KeyPath="no" />

         <RegistryKey Root="HKLM" Key="SOFTWARE\Microsoft\Windows\CurrentVersion\App Paths\$(var.ProductExeBaseName).exe" />
         <RegistryValue Root="HKLM" Key="SOFTWARE\Microsoft\Windows\CurrentVersion\App Paths\$(var.ProductExeBaseName).exe" Value="[#ProductExe]" Type="string" Action="write" />
         <RegistryValue Root="HKLM" Key="SOFTWARE\Microsoft\Windows\CurrentVersion\App Paths\$(var.ProductExeBaseName).exe" Name="path" Value="[TargetFolder]" Type="string" Action="write" />
       </Component>

        <Component Id="ProductLibraryDll_WixComponent" Guid="*">
          <CreateFolder/>
          <File Id="ProductDll" Name="$(var.ProductLibraryBaseName).dll" Source="$(var.ProductLibraryReleaseFolder)\$(var.ProductLibraryBaseName).dll" KeyPath="yes" />
          <File Id="ProductDllPdb" Name="$(var.ProductLibraryBaseName).pdb" Source="$(var.ProductLibraryReleaseFolder)\$(var.ProductLibraryBaseName).pdb" KeyPath="no"/>
        </Component>
    </ComponentGroup>
	</Fragment>
</Wix>